@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* font-family: "Work Sans", sans-serif; */

*{
    margin:0; 
    padding:0; 

}

.container-btn{
    text-align: center;
    margin:5%; 
}
.btn{
        color: rgb(255, 255, 255);
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0%;
        text-align: center;
        padding: 10px ;
        border-radius: 8px;
        background: rgb(82, 195, 3);
        border:0; 
        cursor:pointer; 
}

/* 1st section START */
#hero{
    height: 933px;
    background-image: linear-gradient(0,
     rgb(16, 16, 16) -19.5%,
    rgba(16, 16, 16, 0) 100%), url("../assets/hero-bg.png");
    display: flex;
    justify-content: center;
    align-items: center; 
    background-size: cover;
    background-position:center; 
}

#hero .hero-content{
    width: 1023px;
    
}
#hero .hero-content .sub-title{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
}

#hero .hero-content .heading-title{
    color: rgb(255, 255, 255);
        font-family: Work Sans;
        font-size: 60px;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: 0%;
        text-align: center;
}

#hero .hero-content .description{
    color:#fff; 
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 400;
    line-height:18px; 
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 20px;
}

/* 1st section END */


/* ------------- */


/* 2nd section START */

#card-box{

    width: 1320px;
    margin: 10% auto;
}

#card-box .title{
color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;

}

#card-box .sub-title{
    color: rgb(16, 16, 16);
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: center;
        opacity: 0.7;
}

#card-box .info{
   
}

.card-container{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    gap:20px; 
    font-family: Work Sans;
}

.card{
    max-width: 424px;
    display: flex;
    flex-direction:column; 
    gap:23px; 
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 233, 233, 0.7);
    border-radius: 10px;
  
}

.card .img-box{
    width:424px; 

}

.card .img-box img{
    width: 100%;
}


.card .shop{
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    padding: 14px 32px 14px 32px;
    font-weight: 600;
}

.container #card-box-btn{
    display: flex; 
    justify-content: center;  
    align-items: center;
    font-size: 16px;
    width:150px; 
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    line-height: 23px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0%;
    border-radius: 8px;
    padding: 10px;
    margin-top:20px; 
    border: 0;
    background: rgb(82, 195, 3);
    cursor: pointer;
}

.card-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------2nd section END ---------- */


/* ----3rd Section START---- */



.footer{
    display: flex;   
    justify-content: center;
    align-items: center;
    width: 1720px;
    height: 671px;   
}
.footer .footer-img{
    width: 1060px;
    height:450px;
    overflow: hidden;
    padding-left: 20px;
    
}

.footer .footer-message{
    /* We always make sure to provide you with good food */
      
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
    
        color: rgb(16, 16, 16);
        font-size: 28px;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: 5%;
        text-align: center;
        font-family: Work Sans;
}

.footer .footer-message .footer-title{
    width: 805px;
    height: 128px;
    margin-top: 45px;
    padding-left: 48px;
    padding-right: 38px;
}

.footer .footer-message .footer-sub-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 576px;
    height: 29px;
    color: rgb(16, 16, 16);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Work Sans;
    margin-top: 38px;
    opacity: 0.6;

}

.footer .footer-message .follow{
    width: 201px;
    opacity: 0.7;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    height: 39px;
    margin-top:50px;
}