@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Work Sans", sans-serif; */

*{
    margin:0; 
    padding:0; 

}

.container-btn{
    text-align: center;
    margin:5%; 
}
.btn{
        color: rgb(255, 255, 255);
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0%;
        text-align: center;
        padding: 10px ;
        border-radius: 8px;
        background: rgb(82, 195, 3);
        border:0; 
        cursor:pointer; 
}

/* 1st section START */
#hero{
    height: 933px;
    background-image: linear-gradient(0,
     rgb(16, 16, 16) -19.5%,
    rgba(16, 16, 16, 0) 100%), url("../assets/hero-bg.png");
    display: flex;
    justify-content: center;
    align-items: center; 
    background-size: cover;
    background-position:center; 
}

#hero .hero-content{
    width: 1023px;
    
}
#hero .hero-content .sub-title{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
}

#hero .hero-content .heading-title{
    color: rgb(255, 255, 255);
        font-family: Work Sans;
        font-size: 60px;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: 0%;
        text-align: center;
}

#hero .hero-content .description{
    color:#fff; 
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 400;
    line-height:18px; 
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 20px;
}

/* 1st section END */


/* ------------- */


/* 2nd section START */

#card-box{

    width: 1320px;
    margin: 10% auto;
}

#card-box .title{
color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;

}

#card-box .sub-title{
    color: rgb(16, 16, 16);
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: center;
        opacity: 0.7;
}

#card-box .info{
   
}

.card-container{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    gap:20px; 
    font-family: Work Sans;
}

.card{
    max-width: 424px;
    display: flex;
    flex-direction:column; 
    gap:23px; 
    justify-content: center;
    align-items: center;
}

.card .img-box{
    width:424px; 

}

.card .img-box img{
    width: 100%;
}


.card .shop{
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    padding: 14px 32px 14px 32px;
}